@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div>
        <form class="form-inline">
            <div>
                <input type="text" name="user-name" id="user-name" placeholder="Type a user name" />
                <input type="text" name="group-name" id="group-name" placeholder="Type a group name" />
                <input type="button" id="join-group" class="btn btn-primary" value="Join Group" />
                <input type="button" id="leave-group" class="btn btn-danger" value="Leave Group" /><br /><br />                <input type="text" name="group-message" id="group-message-text" placeholder="Type a message" />
                <input type="button" id="groupmsg" class="btn btn-primary" value="Send" />
                <button type="button" id="br" class="btn btn-success btn-sm">Browse</button>
            </div>
        </form>
    </div>
    <div class="justify-content-center">
        <hr />
        <div>
            <div class="col-6" id="messagesList"></div>
        </div>
        <div>
            <input type="file" id="f" style="display:none" accept=".jpg,.png,.gif" />
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/lib/signalr/signalr.js"></script>
    <script src="~/js/chat.js"></script>
}
